<div *ngFor="let i of inventions">
    <div class="invention">
        <span>
            <b> Name: </b> {{ i.name }} || </span>
        <span>
            <b> Inventor: </b> {{ i.inventor }} || </span>
        <span>
            <b> Year: </b> {{ i.year }} </span>
        <span>
            <button class="btn btn-primary" (click)="details(i.id)"> details </button>
        </span>
    </div>
</div>

<hr>

<div class="invention_creator">
    <label for="">{{ nameModel }}</label>
    <div>
        <input type="text" [(ngModel)]="nameModel" placeholder="Digite o nome">
    </div>
    <label for="">{{ inventorModel }}</label>
    <div>
        <input type="text" [(ngModel)]="inventorModel" placeholder="Digite o inventor">
    </div>
    <label for="">{{ yearModel }}</label>
    <div>
        <input type="text" [(ngModel)]="yearModel" placeholder="Digite o ano">
    </div>
</div>

<br>

<button class="btn btn-primary" (click)="createInvention()">Criar invenção</button>